body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 60px; /* Espaço para o footer */
}
header {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 0;
    text-align: center;
}
img {
    width: 120px;
    padding: 14px;
    display: block;
}
nav {
    margin: 0;
    width: 100%;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    border-radius: 0 0 12px 12px;
}
ul.custom-list {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}
li.nav-item {
    float: left;
}
li a.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.nav-link:hover {
    background-color: #111;
}
li.custom-list-item {
    margin: 5px 0;
}
.custom-section {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: justify;
}
main {
    padding: 20px;
}
.footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .row {
    margin: 0;
}
.footer .col-md-4 {
    margin-bottom: 10px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin-bottom: 5px;
}
.footer ul li a {
    color: #333;
    text-decoration: none;
}
.footer ul li a:hover {
    color: #007bff;
}
.footer p {
    margin: 0;
    text-align: center;
}
