body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
}
header {
    background-color: #FC6B61;
    padding: 14px 0 0 14px;
    width: 100%;
}
img {
    width: 120px;
    padding: 14px;
    display: block;
}
nav {
    margin: 0;
    width: 100%;
}
nav .nav-link { 
    color: white !important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    border-radius: 0 0 12px 12px;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.custom-section {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: gray;
    width: 100%;
    text-align: center;
    padding: 10px;
}
