body {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #FC6B61;
    padding: 14px 0 0 14px;
    width: 100%;
}
img {
    width: 120px;
    padding: 14px;
    display: block;
}
nav {
    margin: 0;
    width: 100%;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    border-radius: 0 0 12px 12px;
}
ul.custom-list {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}
li.nav-item {
    float: left;
}
li a.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.nav-link:hover {
    background-color: #111;
}
li.custom-list-item {
    margin: 5px 0;
}
.custom-section {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin